{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="Nav-bar">
  <!DOCTYPE html>
      <a href="home">
          <img href="home" src = "{% static 'coffee_beans_img.jpg'%}" alt = "Coffee image" width="100" height="100"></img>
      </a>
      <a href="home" class="Nav-bar-item" src="coffee_beans_img.jpg">Home</a>
      <a href="Coffee-Drink-Entry-Form" class="Nav-bar-item">Rate Coffee Drinks</a>
      <a href="Coffee-Bean-Entry-Form" class="Nav-bar-item">Rate Coffee Beans</a>
  </nav>
<h1> Record of All Coffee Drinks</h1>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
  padding: 5px;
    }
</style>
</head>
<form action = "Coffee-Drink-Entry-Form">
  <input value = "Enter new record" type="submit">
</form>
<form action = "delete-entry" method = 'post'>
  {% csrf_token %}
  <input value = "Delete Record(s)" type="submit">
<table>
    <tbody>
        <th></th>
        <th style="text-align: center">Date</th>
        <th style="text-align: center">Coffee Shop</th>
        <th style="text-align: center">Coffee Beverage</th>
        <th style="text-align: center">Rating</th>
    </tbody>
    {% for record in api_return %}
    <tr>
        <td>
          <input type = "checkbox" name = "checkbox" value="{{record.id}}">
        </td>
        <td style="text-align: center">{{record.formatted_datetime}}</td>
        <td style="text-align: center">{{record.coffee_shop}}</td>
        <td style="text-align: center">{{record.coffee_beverage}}</td>
        <td style="text-align: center">{{record.rating}}</td>
    </tr>
    {% endfor %}
</table>
</form>
</html>