<h1> Coffee Rating Application</h1>
<style>
    table, th{
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>
<h> Please enter you coffee entry below</h>
<form>
    <table>
        <tbody>
            <th>Coffee Shop</th>
            <th>Coffee Beverage</th>
            <th>Rating</th>
        </tbody>
        <tr>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
    </table>
    <input type="submit">
</form>