<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="Nav-bar">
    <a href="home" class="Nav-bar-item">Home</a>
    <a href="coffee-entry" class="Nav-bar-item">Rate Coffee</a>
    <a href="all-records" class="Nav-bar-item">All Records</a>
</nav>
<h1> Coffee Rating Application</h1>
<style>
    table, th{
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>
<h> Please enter your coffee entry below</h>
<form action = "coffee-entered" method="post">
    {% csrf_token %}
    <table>
        <tbody>
            <th>Coffee Shop</th>
            <th>Coffee Beverage</th>
            <th>Rating</th>
        </tbody>
        <tr>
            <td>
                <input id="coffee_shop" name="coffee_shop" required = "true" type="text" value="{{coffee_shop}}">
            </td>
            <td>
                <input id="coffee_bevarge" name = "coffee_beverage" required = "true" type="text" value="{{coffee_bevarge}}">
            </td>
            <td>
                <input id="rating" name = "rating" type="number" min ="0" max="5" required = "true" step="0.05" value="{{rating}}">
            </td>
        </tr>
    </table>
    <input type="submit">
</form>
</html>