{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="Nav-bar">
<!DOCTYPE html>
    <a href="home">
        <img href="home" src = "{% static 'coffee_beans_img.jpg'%}" alt = "Coffee image" width="100" height="100"></img>
    </a>
    <a href="home" class="Nav-bar-item" src="coffee_beans_img.jpg">Home</a>
    <a href="Coffee-Drink-Entry-Form" class="Nav-bar-item">Rate Coffee Drinks</a>
    <a href="Coffee-Bean-Entry-Form" class="Nav-bar-item">Rate Coffee Beans</a>
</nav>
<h1>Coffee Rating Application</h1>
<div>
    <button onclick="document.location='All-Coffee-Drinks'">See all Coffee Drinks</button>
    <button onclick="document.location='All-Coffee-Beans'">See all Coffee Beans</button>
</div>
</html>